{pre_hooks, [{"(linux|darwin)", compile, "make compile_nif"}]}.
{post_hooks, [{"(linux|darwin)", clean, "make clean_nif"}]}.

{project_plugins, [rebar3_hex]}.

{deps, []}.

{erl_opts, [
    warnings_as_errors,
    warn_export_all
]}.

{profiles, [
    {test, [
        {erl_opts, [
            debug_info,
            nowarn_export_all
        ]}
    ]}
]}.
